<div class="row">
  <div class="col-md-5">
    <h3>{{title}}</h3>
    <h3 *ngIf="errorMsg === 'Not Found'">
      The backend server returns error : {{errorMsg}}
    </h3>
    <ul *ngFor="let task of tasks" class="list-group">
      <li class="list-group-item" (click)="selectTask(task)" [class.active]="task === selectedTask">
        {{task.name}} {{task.complete}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewTask()">New</button>
  </div>
  <!--<div class="col-md-5 col-md-offset-2">
    <task-details
      [task]="selectedTask"
      [createHandler]="addTask"
      [updateHandler]="updateTask"
      [deleteHandler]="deleteTask">
    </task-details>
  </div>-->
</div>
